{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section>
  <article>
	<h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2>
	
	<hr />
	<i class="fi-calendar size-14"></i>&nbsp;{{ article.locale_date }}&nbsp;&nbsp;
    <i class="fi-price-tag size-14"></i><a href="{{ SITEURL }}/{{ article.category.url }}">&nbsp;{{ article.category }}</a>
	<hr />
	
	{{ article.content }}
	
  </article>
  <hr />
	<div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <div id="cusdis_thread"
            data-host="https://cusdis.com"
            data-app-id="0e5fe46f-ef6e-4be2-abb1-5abe9211600f"
            data-page-id="{{ PAGE_ID }}"
            data-page-url="{{ PAGE_URL }}"
            data-page-title="{{ PAGE_TITLE }}">
          </div>
        </div>
      </div>
    </div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

  {% include 'includes/comments.html' %}
</section>
{% endblock %}
