<!doctype html>
<html class="no-js" lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ AUTHOR }}">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>

	<!-- Style -->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css"/> <!--#TODO changer le path -->

	<!--link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css"/-->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/lightbox.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/newicons.css"/>
    <!-- Syndication -->
    <link href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>

    <!-- Google analytics -->
    {% include 'includes/ga.html' %}

  </head>

  <body>
  <!--'body'content'here'-->
    <!-- Nav Bar -->
    <nav class="top-bar">
      <div class="top-bar-left">
         <ul class="menu">
           <li class="menu-text">
             <a href="{{ SITEURL }}">Accueil</a>
           </li>
           <li class="menu-text">
            {% for page in pages%}
            <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
             {% endfor %}
           </li>
         </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="{{ SITEURL }}/archives.html"><i class="fi-list-thumbnails"></i> Archives</a></li>
          <li><a href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="subscribe-rss"
               title="Subscribe via RSS"><i class="fi-rss"></i></a></li>

          <form action="{{ SIMPLE_SEARCH }}" method="get">
            <div class="grid-container">
              <div class="grid-x grid-padding-x" >
                <div class="medium-9 cell">
                 <input type="search" name="q" placeholder="Search">
                 <input type="hidden" name="sites" value="letchap.github.io" />

                </div>
              </div>
            </div>
          </form>
        </ul>
      </div>
    </nav>
    <!-- Nav Bar -->

    <!-- Header -->
    <header class="callout large" id="myheader">
      <div class="text-left">
                  <h2><a href="{{ SITEURL }}">{{ SITENAME }}</a></h2>
          {% if SITESUBTITLE %}
      </div>
        <h2><small>{{ SITESUBTITLE }}</small></h2>
          {% endif %}
    </header>
    <!-- Header -->



  <!-- Main Page Content and Sidebar -->
  <section role="main">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">

        <!-- Main Blog Content -->
        <div class="medium-9 cell">
        {% block content %}
        {% endblock %}
        </div>

        <!-- End Main Content -->
    
        <!-- Sidebar -->
    
        <div class="medium-3 cell">
          <div class="callout large secondary">

		  <h4>Catégories</h4>
		  <ul class="vertical menu">
		  {% for cat, null in categories %}
		    <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
		  {% endfor %}
		  </ul>

		  {% if SOCIAL %}
		  <h4>Social</h4>
		  <ul class="vertical menu">
		  {% for name, link in SOCIAL %}
		    <li>
			  <a href="{{ link }}">
			  <i class="icon-{{ name }} medium"></i> {{ name }}
			  </a>
			</li>
		  {% endfor %}
		  </ul>
		  {% endif %}

		  {% if LINKS %}
		  <h4>Blogroll</h4>
		  <ul class="vertical menu">
		  {% for name, link in LINKS %}
		    <li><a href="{{ link }}"> {{ name }}</a></li>
		  {% endfor %}
		  </ul>
		  {% endif %}
          </div>
	    </div>
      </div>
      <!-- End Sidebar -->
    </div>
 
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
   <footer>
   <div class="grid-container">
        <div class="grid-x grid-padding-x">

        <div class="cell large-6">
          <p>© Copyright WTFPL</p>
        </div>
        <div class="cell large-6">
            <div class="text-right">

            <a href="http://getpelican.com/">Site généré par Pelican</a>
        </div>
        </div>
      </div>
    </div>
  </footer>
</section> 
  <!-- End Footer -->

    <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
<!--    <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>-->
     <script>
        $(document).foundation();
    </script>
	
	<script src="{{ SITEURL }}/theme/js/lightbox-2.6.min.js"></script>
  


    <script src="{{ SITEURL }}/theme/js/app.js"></script>



  </body>
</html>